header{
  text-align: center;
  background-color:  #e4572e;
}
a{
  text-decoration: none;
}
header h1{
  font-family: 'Chelsea Market', cursive;
  text-shadow: 1px 1px 0  #fff;
}

header h2{
  color:#fff;
}

main{
  font-family: 'Gamja Flower', cursive;
  background-color: #fffff2;
}
article{
  border: 4px solid #050401;
  box-shadow: 3px 3px 0 0 #e4572e;
  margin:8px auto;
  width: 61%;
}

hr{
  margin: 30px auto;
}


footer{
  font-family: 'Gamja Flower', cursive;
  background-color: #fffff2;
  text-align: center;
}

form p{
  display: inline;
  margin-right: 10px;
  box-shadow: 3px 3px 0 0 #e4572e;
}
